#appTitle {
    text-align: center;
    margin-top: 1em;
}

nav {
    width: 15em;
    margin: auto;
    margin-bottom: 2.5em;
}

#animeContainer {
    width: 15em;
    margin: auto;
}

#animeNameInput {
    width: 75%;
}

#addAnimeBtn {
    width: 20%;
}

#submitListBtn {
    width: 5em;
    margin: auto;
}
