#radioContainer {
    width: 30em;
    margin: auto;
}

#radioTrackTitle {
    text-align: center;
    white-space: nowrap;
    padding-bottom: 0.5em;
}

#radioTrackAudio {
    width: 100%;
}

#radioListSelectLabel {
    display: flex;
    float: right;
    margin-right: 0.5em;
}

#radioListSelect {
    margin-bottom: 1em;
    display: flex;
    float: right;
    width: 7rem;
    height: 2em;
}

.radioListOption {
    width: 50%;
    margin: auto;
}

.trackBtn {
    width: 45%;
    background-color: transparent;
    border: none;
    color: white;
    margin: auto;
}

#trackContainer {
    border: 0.25em solid rgb(95, 32, 95);
    width: 10em;
    padding: 1em;
    background-color: rgb(148, 51, 148);
    color: white;
    border-radius: 1em;
    text-overflow: clip;
    text-align: center;
    margin: auto;
    margin-top: 1em;
}
