<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>{% block title %} {% endblock %} - Radio Senko</title>
    {% endblock %}
</head>
<body>
    <header>
        <h1 id="appTitle">Radio Senko</h1>

        {% if username %}
            <nav>
                <a href="/">Home</a>
                <a href="/create-list">Create List</a>
                <a href={{ "/user/{}".format(username) }}>{{ username }}</a>
                <a href="/logout">Logout</a>
            </nav>
        {% else %}
            <nav>
            <a href="/">Home</a>
            <a href="/create-list">Create List</a>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </nav>
        {% endif %}
    </header>

    <div id="mainContent">
        {% block mainContent %}

        {% endblock %}
    </div>
</body>
</html>