{% extends 'base.jinja' %}
{% block title %}Create List{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/create_list.css">
    
{% endblock %}
{% block mainContent %}
    <div id="animeContainer">
        <h2>Create Anime List</h2>
        <label for="listName">List Name</label>
        <input type="text" name="listName" id="listNameInput" placeholder="List name...">

        <label for="animeName">Anime Name</label>
        <input type="text" name="animeName" id="animeNameInput" placeholder="Enter an anime name..." autocomplete="off">
        <button type="button" id="addAnimeBtn">Add</button>

        <ul id="addedAnimeList">

        </ul>
        
        <button id="submitListBtn">Create</button>
    </div>
    
    <script src="/static/create_list.js"></script>
{% endblock %}