<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/create_list.css">
    <title>Radio Senko</title>
</head>
<body>
    <h1 id="appTitle">Radio Senko</h1>

    <form action="/create-list" method="post" id="createListForm">
        <input type="text" name="animeName" placeholder="Enter an anime name and press enter...">
        <ul id="addedAnimeList">

        </ul>
        <button type="submit">Create</button>
    </form>
    
</body>
</html>