{% extends 'base.jinja' %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/home.css">
{% endblock %}
{% block mainContent %}
    <div id="radioContainer">
        <h2 id="radioTrackTitle">{{ track_title }}</h2>
        
        <form method='GET' action="/">
            <button type="submit">Use</button>
            <select name="list" id="radioListSelect">
                <option value="none" class="radioListOption">None</option>
                {% for list_name_item in list_names %}
                    <option value={{list_name_item["uuid"]}} class="radioListOption">{{list_name_item["name"]}}</option>
                {% endfor %}
            </select>
            <label for="radioList" id="radioListSelectLabel">Choose List </label>
        </form>
        <div id="trackContainer">
            <h2 id="radioTrackName">Not started...</h2>
            <div id="trackBtnContainer">
                <button class="trackBtn" id="radioPlayBtn"><i class="fas fa-play-circle fa-3x"></i></button>
                <button class="trackBtn" id="radioSkipBtn"><i class="fas fa-step-forward fa-3x"></i></button>
            </div>
        </div>
        
    </div>
    <script type="text/javascript">
            const list_items = {{ list_items }} || [];
    </script>
    <script src="/static/radio.js"></script>
{% endblock %}