{% extends 'base.jinja' %}
{% block title %}Signup{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/signup.css">
{% endblock %}
{% block mainContent %}
    <form action="/signup" method="POST" id="signupForm" autocomplete="off">
        <h2>Signup</h2>
        <label for="username">Username</label>
        <input type="text" name="username" id="usernameInput" placeholder="Example">

        <label for="email">Email</label>
        <input type="email" name="email" id="emailInput" placeholder="email@example.com">

        <label for="password">Password</label>
        <input type="password" name="password" id="passwordInput" placeholder="Choose a password...">

        <label for="passwordCheck">Password Check</label>
        <input type="password" name="passwordCheck" id="passwordCheckInput" placeholder="Confirm your password...">

        <button type="submit">Signup</button>
    </form>
{% endblock %}